* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    --primary-1: hsl(179, 62%, 43%);
    --primary-2: hsl(71, 73%, 54%);
    --secondary-1: hsl(204, 43%, 93%);
    --secondary-2: hsl(218, 22%, 67%);
}

body {
    background-color: #ccc;
    Font-size: 16px
}

.container {
    background-color: #fff;
    width: 50%;
    margin: 20px auto;
    /* padding: 20px 30px 20px 25px; */
    border-radius: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "col-1 col-1"
    "col-2 col-3";
}

.row > .col:nth-child(1) {

}

.row > .col:nth-child(2) {
    background-color: hsl(179, 62%, 43%);

}

.row > .col:nth-child(3) {
    background-color: hsl(179, 58%, 58%);
}

.col {
    padding: 20px 30px 20px 25px;
}

.col-1 {
    grid-area: col-1;
}

.col-2 {
    grid-area: col-2;
}

.col-3 {
    grid-area: col-3;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }