* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-1: hsl(179, 62%, 43%);
    --primary-2: hsl(71, 73%, 54%);
    --secondary-1: hsl(204, 43%, 93%);
    --secondary-2: hsl(218, 22%, 67%);
}

body {
    background-color: var(--secondary-2);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    /* letter-spacing: 1px; */
}

.container {
    background-color: #fff;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
}

.row {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "col-1 col-1"
    "col-2 col-3"; */
}

.row > .col:nth-child(2) {
    background-color: hsl(179, 62%, 43%);
    border-radius: 0;
}

.row > .col:nth-child(3) {
    background-color: hsl(179, 58%, 58%);
    border-radius: 0 0 10px 10px;
}

.col {
    padding: 40px 30px 40px 30px;
}

.col p {
    color: var(--secondary-1);
    font-size: 0.85rem;
    /* font-weight: 700; */
}

.col h4 {
    color: #fff;
}

/* .col-1 {
    grid-area: col-1;
} */

/* .col-2 {
    grid-area: col-2;
} */

/* .col-3 {
    grid-area: col-3;
    padding-right: 35px;
} */

.col-1 h3 {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px (hsl(179, 62%, 43%));
}

.col-1 h4 {
    color: hsl(71, 73%, 54%);
}

.col-1 p {
    margin-top: 10px;
    font-weight: bold;
}

.col-2 h4, .col-3 h4 {
    margin-bottom: 15px;
}

.col-2 p {
    margin-bottom: 30px;
}

.col-2 span {
    font-size: 2rem;
}

.btn {
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    width: 85%;
    padding: 13px 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}


@media (min-width:675px) {

    .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "col-1 col-1"
        "col-2 col-3";
    }

    .col-1 {
        grid-area: col-1;
    } 

    .col-2 {
        grid-area: col-2;
    } 

    .col-3 {
        grid-area: col-3;
        padding-right: 35px;
    }

    .row > .col:nth-child(2) {
        border-radius: 0 0 0 10px;
    }
    
    .row > .col:nth-child(3) {
        border-radius: 0 0 10px 0;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }